/*elementos da tabela*/

.linha {
    display: flex;
    margin: 0;
}

.massa {
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: black;
    font-size: 12px;
    margin: 0;
    margin-left: 60px;
}

.quadrado {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.letra {
    text-align: center;
    margin:21px;
}

.titulo {
    text-align: center;
    padding-top: 5px;
    margin: 0px;
} 

.nmatc {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.metais-alcalinos {
    background-color: #eb9c09;
    border: 5px solid #9b690d;
} .nmatc-metais-alcalinos {
    margin-left: 5px;
    background-color: #9b690d;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.metais-alcalino-terrosos {
    background-color: #ffee00;
    border: 5px solid #bbb12a;
} .nmatc-metais-alcalino-terrosos {
    margin-left: 5px;
    background-color: #bbb12a;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.metais-de-transição {
    background-color: #f17c7c;
    border: 5px solid #ca6666;
} .nmatc3 {
    margin-left: 5px;
    background-color: #ca6666;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.invisivel {
    width: 125px;
    height: 125px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 5px solid #ffffff;
    margin: 0;
} .letra-invisivel{
    text-align: center;
    margin-top: 42px;
} 

.outros-metais {
    background-color: #99bac9;
    border: 5px solid #75909c;
} .color-nmatc-outros-metais {
    margin-left: 5px;
    background-color: #75909c;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.semimetais {
    background-color: #4db68e;
    border: 5px solid #3e9e7b;
} .nmatc013 {
    margin-left: 5px;
    background-color: #3e9e7b;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.não-metais {
    background-color: #b7df4a;
    border: 5px solid #809b36;
} .nmatc14 {
    margin-left: 5px;
    background-color: #809b36;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.halogênios {
    background-color: #6ebdd4;
    border: 5px solid #2a90af;
} .nmatc4 {
    margin-left: 5px;
    background-color: #2a90af;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.gases-nobres {
    background-color: #128bdb;
    border: 5px solid #1077bb;
} .nmatc4 {
    margin-left: 5px;
    background-color: #1077bb;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}


/*animações*/

@keyframes animation {
    0%{
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.quadrado:hover{
    animation-name: animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}